<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/calc.css"/>

</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TariffCalc</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Kalkulator</a></li>
                    <li><a href="#about">Pomoc</a></li>
                    <li><a href="#contact">Kontakt</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li class="dropdown-header">Nav header</li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">PL</a></li>
                    <li><a href="#">EN</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Kalkulator taryfowy</h1>
        </div>
        <!--<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>-->
        <!--<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>-->

        <form>
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="input-type">Typ:</label>
                        <select class="form-control" id="input-type">
                            <option value="import">Przywóz</option>
                            <option value="export">Wywóż</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input-country">Kraj:</label>
                        <select class="form-control" id="input-country">
                            <option value="pl">Polska</option>
                            <option value="en">Anglia</option>
                            <!--TODO: UZUPEŁNIĆ-->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="cargo-code">Kod towaru:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="cargo-code">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" id="lookup-cargo-code">
                                    <span class="glyphicon glyphicon-search lookup" aria-hidden="true"></span>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal-cargo-code">
                        <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title">ASDFASDFASDFASDF</span>
                                    <span class="modal-close glyphicon glyphicon-remove lookup" aria-hidden="true" id="modal-cargo-code-close"></span>
                                </div>
                                <div class="modal-body">ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF</div>
                                <div class="modal-footer">ASDFASDFASDFASDF</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-value">Wartość:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="input-value">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle currency" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AUD - dolar australijski <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">AUD - dolar australijski</a></li>
                                    <li><a href="#">BGN - lew (Bułgaria)</a></li>
                                    <li><a href="#">BRL - real (Brazylia)</a></li>
                                    <!--<li role="separator" class="divider"></li>-->
                                    <!--<li><a href="#">Separated link</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="input-mass-brutto">Masa brutto (kg):</label>
                        <input class="form-control" type="number" id="input-mass-brutto" name="input-mass-brutto">
                    </div>
                    <div class="form-group">
                        <label for="input-mass-netto">Masa brutto (kg):</label>
                        <input class="form-control" type="number" id="input-mass-netto" name="input-mass-brutto">
                    </div>
                    <div class="form-group">
                        <label for="meursing-code">Meursing:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="meursing-code">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" id="lookup-meursing">
                                    <span class="glyphicon glyphicon-search lookup" aria-hidden="true"></span>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modal-meursing">
                        <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title">Meursing</span>
                                    <span class="modal-close glyphicon glyphicon-remove lookup" aria-hidden="true" id="modal-meursing-close"></span>
                                </div>
                                <div class="modal-body">ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF
                                    ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF ASFASDFASDFASDF</div>
                                <div class="modal-footer">ASDFASDFASDFASDF</div>
                            </div>
                        </div>
                    </div>


                </div>


            </div> <!-- ROW -->


        </form>

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Place sticky footer content here.</p>
        </div>
    </footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../public/js/calc-ui.js"></script>

</body>
</html>
