<!DOCTYPE html>
<html>
<head>
<title>celina</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/style.css" >


</head>
<body>



<div class="container">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TariffCalc</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Kalkulator</a></li>
          <li><a href="#about">Pomoc</a></li>
          <li><a href="#contact">Kontakt</a></li>
          <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li class="dropdown-header">Nav header</li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
          <!--</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">PL</a></li>
          <li><a href="#">EN</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">

   <h1>FAQ</h1>

    <ul>
      <li>
        <h2>Gdzie można znaleźć akty prawa Unii Europejskiej?</h2>
        <p>
          Poszukuję aktów prawnych w ujednoliconej wersji (uwzględniające wszystkie nowelizacje aktu).

          Akty prawne UE tj. rozporządzenia, decyzje oraz dyrektywy są publikowane w Dzienniku Urzędowym Unii Europejskiej w serii L.
          W serii C publikowane są akty o charakterze informacyjnym.
          Poniżej znajduje się link do strony internetowej zawierającej funkcję umożliwiającą wyszukiwanie opublikowanych dzienników urzędowych.

          -               Dzienniki Urzędowe opublikowane przed 1 maja 2004 w języku angielskim: są dostępne pod adresem: http://eur-lex.europa.eu/en/tools/about.htm
          -               Dzienniki Urzędowe opublikowane po 1 maja 2004 w języku polskim: są dostępne pod adresem: http://eur-lex.europa.eu/en/tools/about.htm

          Dysponując numerem aktu prawnego oraz rokiem jego wydania możemy odnaleźć akt prawy w języku polskim (większość aktów dostępna jest tylko w języku angielskim) i zapoznać się z jego treścią korzystając z następujących strony internetowej Unii Europejskiej: http://eur-lex.europa.eu/pl/index.htm.

          Tłumaczenia dostępne są również na stronie UKIE (nie są to wersje jednolite):  http://www1.ukie.gov.pl/dtc.nsf
        </p>

      </li>
      <li>
        <h2>Jaka taryfa celna obowiązuje od dnia 1 stycznia 2005 r.?</h2>
        <p>
          Od dnia 1 stycznia 2005 r. zacznie obowiązywać rozporządzenie  Komisji (WE) nr 1810/2004 z  dnia 7 września 2004 r. zmieniające załącznik Rady (EWG) nr 2658/87 w sprawie nomenklatury taryfowej i statystycznej  oraz w sprawie Wspólnej Taryfy Celnej (Dz. Urz. UE Nr 327 z 30 października 2004 r.)

          Wykaz kodów CN na rok 2005  tj. kodów usuniętych, nowych kodów, kodów ponownie wprowadzonych oraz tablice korelacyjne kodów CN 2004-2005 i 2005-2004.


          Informujemy, że istnieje możliwość zakupienia pojedynczych egzemplarzy (np. zawierającego Wspólną Taryfę Celną na rok 2005) lub dokonania prenumeraty Dziennika Urzędowego Unii Europejskiej w wydaniu papierowym.
          Cena pojedynczego egzemplarza uzależniona jest od objętości publikacji.

          Dystrybutorem Dziennika Urzędowego Unii Europejskiej w Polsce jest:
          ARS POLONA S.A.
          Ul. Obrońców 25
          03-933 Warszawa
          tel . 022 509 86 00
          fax . 022 509 86 20
          e-mail : ksiazki@arspolona.com.pl
          anna .krysinska@arspolona.com.pl

        </p>

      </li>

   </ul>
 </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
