<!DOCTYPE html>
<html>
<head>
<title>celina</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/style.css" >


</head>
<body>



<div class="container">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/en">TariffCalc</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/calc">Kalkulator</a></li> -->
          <li><a href="/calc?lang=en">Calculator</a></li>
          <li><a href="/strona?lang=en">Help</a></li>
          <!-- <li><a href="#contact">Kontakt</a></li> -->
          <li><a href="/faq?lang=en">FAQ</a></li>
          <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li class="dropdown-header">Nav header</li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
          <!--</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/faq">PL</a></li>
          <li class="active"><a href="/faq?lang=en">EN</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">

   <h1>FAQ</h1>

   <div class="spis">
     <h2>Questions:</h2>
      <ul class="bulletlist">
        <li class="spisitem"><p><a href="#frag1">What is a standing charge?</a></p></li>
        <li class="spisitem"><p><a href="#frag2">What is the cheapest tariff?</a></p></li>
        <li class="spisitem"><p><a href="#frag3">How do I work out how much I’ll be paying?</a></p></li>
        <li class="spisitem"><p><a href="#frag4">How will being on a standing charge tariff affect my prices?</a></p></li>
        <li class="spisitem"><p><a href="#frag5">How much is the standing charge per day?</a></p></li>


      </ul>
    </div>


    <ul>
      <a class="anchor" id="frag1"></a>
      <li>
        <h2>What is a standing charge?</h2>
        <div>

          <p>A standing charge is a fixed amount that is applied to your gas and electricity bill daily. For any tariff with a standing charge you will pay a daily charge and a single unit rate making it easier to understand how much you’re paying.</p>
          <p>A standing charge helps cover an energy supplier's fixed costs, for example: enabling a supply of gas/electricity to your home through distribution and metering services, as well as supporting the vulnerable.</p>

        </div>

      </li>
      <a class="anchor" id="frag2"></a>
      <li>
        <h2>What is the cheapest tariff?</h2>
        <div>
          <p>We would always advise customers to visit our tariff checker to make sure they are on the best possible deal.</p>

        </div>

      </li>
      <a class="anchor" id="frag3"></a>
      <li>
        <h2>How do I work out how much I’ll be paying?</h2>
        <div>
          <p>Our new products now include a standing charge and a single consumption rate; the single consumption rate will be based on the energy you use.The amount you pay will not alter unless you change payment method or tariff.  Please refer to our tariff checker to find out the best deal for you.</p>
          <p><b>Please remember</b> – standing charge is applied even if no gas or electricity is used.</p>
        </div>
      </li>
      <a class="anchor" id="frag4"></a>
      <li>
        <h2>How will being on a standing charge tariff affect my prices?</h2>
        <div>
          <p>Your bill will be determined by the standing charge, unit rate and the amount of energy you use.  It is always best to check that you are on the best possible deal.</p>
        </div>
      </li>
      <a class="anchor" id="frag5"></a>
      <li>
        <h2>How much is the standing charge per day?</h2>
        <div>
          <p>The standing charge amount may change depending on your payment method or tariff choice.</p>
        </div>
      </li>



   </ul>
 </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Background Image <a href="http://www.freepik.com/free-vector/worldwide-travel-flat-design_714539.htm">Designed by Freepik</a></p>
    </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
