<!DOCTYPE html>
<html>
<head>
<title>celina</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/style.css" >

</head>
<body>


<div class="container">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TariffCalc</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/calc">Kalkulator</a></li> -->
          <li><a href="/calc">Kalkulator</a></li>
          <li><a href="/strona">Pomoc</a></li>
          <!-- <li><a href="#contact">Kontakt</a></li> -->
          <li><a href="/faq">FAQ</a></li>
          <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li class="dropdown-header">Nav header</li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
          <!--</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/strona">PL</a></li>
          <li><a href="/strona?lang=en">EN</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">
   <h1>Pomoc</h1>
   <p>a sluzy do</p>
   <p>b sluzy do</p>

 </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Background Image <a href="http://www.freepik.com/free-vector/worldwide-travel-flat-design_714539.htm">Designed by Freepik</a></p>
    </div>
</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
