<!DOCTYPE html>
<html>
<head>
<title>celina</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/style.css" >

</head>
<body>


<div class="container">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/en">TariffCalc</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/calc">Kalkulator</a></li> -->
          <li><a href="/calc?lang=en">Calculator</a></li>
          <li><a href="/strona?lang=en">Help</a></li>
          <!-- <li><a href="#contact">Kontakt</a></li> -->
          <li><a href="/faq?lang=en">FAQ</a></li>
          <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
          <!--<li><a href="#">Action</a></li>-->
          <!--<li><a href="#">Another action</a></li>-->
          <!--<li><a href="#">Something else here</a></li>-->
          <!--<li role="separator" class="divider"></li>-->
          <!--<li class="dropdown-header">Nav header</li>-->
          <!--<li><a href="#">Separated link</a></li>-->
          <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
          <!--</li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/strona">PL</a></li>
          <li class="active"><a href="/strona?lang=en">EN</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

 <!-- Main component for a primary marketing message or call to action -->
 <div class="jumbotron">
   <h1>Help</h1>

   <p>The calculator allows the user to calculate customs duties and taxes, performed based on the full and partial data sets.</p>

   <h2>Calculation fields</h2>
   <p>The user enters data in the following fields (mandatory fields marked with "*"):</p>

   <h3>Type *</h3>
   <p>Type determines if the calculation process concerns Importing or Exporting of good.</p>
   <h3>Country *</h3>
   <p>The country of origin / destination (based on value of field Type) should be chosen.</p>
   <h3>Commodity code *</h3>
   <p>The full 10-digit TARIC nomenclature code.If incorrect code is inserted, then then the Tariff Browser displays the error message <i>Invalid code</i>. You should go back to the Browse Tariff page and insert another goods nomenclature code or go back to Home page and change the Reference Validity Date.</p>
   <h3>Gross mass (kg) </h3>
   <p>The gross mass of the commodity should be captured. The field accepts 16 digits (including ".")</p>
   <h3>Net mass (kg) *</h3>
   <p>The net mass of the commodity should be captured. The field accepts 16 digits (including ".")<p>
   <h3>Customs value *</h3>
   <p>The customs value of commodity expressed in the selected monetary unit should be captured. The field accepts 18 digits (including ".")</p>
   <h3>Meursing<h3>
   <p>If user is required to enter an additional Meursing code, System displays the relevant message. In case user knows the code, it might be entered. In case user needs to calculate the code, he presses the <i>magnifying glass</i> button in order to display Meursing code calculator. The user selects values in the following fields:<p>
    <ul class="bulletlist">
     <li><p>Fat Milk</li></p>
     <li><p>Milk protein</li></p>
     <li><p>Starch / glucose</li></p>
     <li><p>Sucrose / Invert sugar / isoglucose</li></p>
    </ul>
   <p>System displays the appropriate Meursing code. User presses the linked code, which is automatically entered in the calculator form field.</p>
   <h3>Supplementary Units </h3>
   <p>The supplementary units with qualifier (if necessary) must be chosen from the list of supplementary units with qualifiers available.</p>
   <p>The supplementary units can be added by clicking <b>Add</b>. User inserts value in the Quantity.</p>

   <p>The measurement unit can be selected from the list of measurements in the <i>Code</i> field.</p>

   <p>The supplementary units can be entered in any sequence.</p>

   <p>In order to remove the supplementary unit from the list, one has to check out the square on the right side of the given supplementary unit and click <b>Delete</b> sign.</p>

   <h3>Additional Codes</h3>
   <p>The Additional Codes have 4 characters. Maximum three additional codes are possible to enter for one question. The Additional codes can be entered in any sequence.</p>
   <h3>Calculation results</h3>
   <p>When user fills the necessary fields for his calculation he presses <b>Calculate duties</b> button.</p>




 </div>

</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Background Image <a href="http://www.freepik.com/free-vector/worldwide-travel-flat-design_714539.htm">Designed by Freepik</a></p>
    </div>
</footer>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
